nav#main-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: blue;
    position: relative;

}

nav#main-navbar ul li {
    float: left;
    margin: 0 15px;
    position: relative;
    left: 50%;
    right: 50%;

}

nav#main-navbar ul li a {
    display: block;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 10px 20px;
    border-radius: 4px;
    position: relative;
    text-decoration: none;
}

#onpage {
    text-decoration: underline overline;

}

#sidebar-container {
    background-color: red;
    list-style-type: none;
    position: fixed;
    right: 0%;
    height: 100%;
    width: 20%;
    text-align: center;
    padding: 15px 0;
    display: block;
    color: #fff;

}

#sidebar-container li {
    list-style-type: none;
    padding: 15px 0;
}

#sidebar-container a {
    list-style-type: none;
    color: #fff;
    padding: 15px 0;
    text-decoration: none;
}
